#page-container {
  display: flex;
  flex-direction: row;
  height: 65vh;
}

#page-container .flex-item {
  display: flex;
  flex-direction: column;
  margin: 1px 1px;
}

#Panel {
  height: 400px;
}

/* #Map, */
#Network {
  height: 400px;
  margin-bottom: 3px;
}

#Map {
  height: 400px;
  margin-bottom: 0px;
}

#netbox,
#Sunburst {
  display: flex;
  margin-top: 3px;
}


#storyline {
  height: 100%;
}

#Parallel {
  margin-top: -84px;
  margin-left: 2px;
  height: 335px;
  width: 1190px;
  position:absolute;
  left: 340px;
  top:490px
}
#minMapG{
  position: absolute;
  display: inline-block
}




.hover-stroke:hover {
  stroke: #111;
  stroke-width: 2px;
}

#TooltipAddScene {
  width: 250px;
  height: 300px;
  margin: auto;
  background-color: aliceblue;
  position: relative;
  top: -300px;
  display: none;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#TooltipDelScene {
  width: 250px;
  height: 300px;
  margin: auto;
  top: auto;
  background-color: aliceblue;
  position: relative;
  top: -300px;
  display: none;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#_river{
  top:405px;
  position:absolute
}